<?xml version="1.0"?>

<model>
  <name>openvmp_robot_don1</name>
  <version>0.1</version>
  <sdf version="1.6">openvmp_robot_don1.urdf</sdf>

  <author>
    <name>Roman Kuzmenko</name>
    <email>openvmp@proton.me</email>
  </author>

  <description>
    OpenVMP Robot "Don1".
    Full size OpenVMP robot with NEMA-17 sized motors.
  </description>
</model>
