[submodule "platform/src/serial"]
	path = platform/src/serial
	url = git@github.com:openvmp/serial.git
[submodule "platform/src/modbus"]
	path = platform/src/modbus
	url = git@github.com:openvmp/modbus.git
[submodule "platform/src/modbus_rtu"]
	path = platform/src/modbus_rtu
	url = git@github.com:openvmp/modbus_rtu.git
[submodule "platform/src/modbus_tcp"]
	path = platform/src/modbus_tcp
	url = git@github.com:openvmp/modbus_tcp.git
[submodule "platform/src/stepper_driver_rs485_so"]
	path = platform/src/stepper_driver_rs485_so
	url = git@github.com:openvmp/stepper_driver_rs485_so.git
[submodule "platform/src/stepper_driver"]
	path = platform/src/stepper_driver
	url = git@github.com:openvmp/stepper_driver.git
[submodule "platform/src/stepper_driver_terminal"]
	path = platform/src/stepper_driver_terminal
	url = git@github.com:openvmp/stepper_driver_terminal.git
[submodule "platform/src/yaml-cpp"]
	path = platform/src/yaml-cpp
	url = git@github.com:jbeder/yaml-cpp.git
