[submodule "platform/src/serial"]
	path = platform/src/serial
	url = ../serial.git
[submodule "platform/src/modbus"]
	path = platform/src/modbus
	url = ../modbus.git
[submodule "platform/src/modbus_rtu"]
	path = platform/src/modbus_rtu
	url = ../modbus_rtu.git
[submodule "platform/src/modbus_tcp"]
	path = platform/src/modbus_tcp
	url = ../modbus_tcp.git
[submodule "platform/src/stepper_driver_em2rs"]
	path = platform/src/stepper_driver_em2rs
	url = ../stepper_driver_em2rs.git
[submodule "platform/src/stepper_driver"]
	path = platform/src/stepper_driver
	url = ../stepper_driver.git
[submodule "platform/src/stepper_driver_terminal"]
	path = platform/src/stepper_driver_terminal
	url = ../stepper_driver_terminal.git
[submodule "platform/src/yaml-cpp"]
	path = platform/src/third_party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "platform/src/switch"]
	path = platform/src/switch
	url = ../switch.git
[submodule "platform/src/switch_r413d08"]
	path = platform/src/switch_r413d08
	url = ../switch_r413d08.git
[submodule "deployment/ansible/roles/ansible-ubuntu-wifi"]
	path = deployment/ansible/roles/ansible-ubuntu-wifi
	url = https://github.com/fcastello/ansible-ubuntu-wifi.git
[submodule "platform/src/remote_hardware_interface"]
	path = platform/src/remote_hardware_interface
	url = ../remote_hardware_interface.git
[submodule "platform/src/brake"]
	path = platform/src/brake
	url = ../brake.git
[submodule "platform/src/third_party/ros2_usb_camera"]
	path = platform/src/third_party/ros2_usb_camera
	url = https://github.com/klintan/ros2_usb_camera.git
[submodule "platform/src/third_party/ros2_berrygps"]
	path = platform/src/third_party/ros2_berrygps
	url = https://github.com/mattanimation/ros2_berrygps.git
[submodule "platform/src/third_party/RTIMULib2"]
	path = platform/src/third_party/RTIMULib2
	url = https://github.com/mattanimation/RTIMULib2.git
[submodule "models"]
	path = models
	url = git@github.com:openvmp/openvmp-models.git
