[Unit]
Description=DDS Discovery Service
Documentation=https://github.com/openvmp/openvmp/blob/main/docs/Deployment.md
After=rsyslog.target
PartOf=openvmp.service

[Service]
Environment=FASTRTPS_DEFAULT_PROFILES_FILE=/root/.openvmp/fastdds_server.xml
Type=simple
User=root
ExecStart=/bin/bash -c "source /root/.openvmp/env.sh; export FASTRTPS_DEFAULT_PROFILES_FILE=/root/.openvmp/fastdds_server.xml; cd /root/openvmp/platform && bash /opt/ros/humble/bin/fastdds discovery --server-id 0"
Restart=always
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target